<div class="watch-wrapper">
  <div class="apple-watch-hardware">
    
    <div class="strap top-strap"></div>
    <div class="strap bottom-strap"></div>
    
    <div class="digital-crown"></div>
    <div class="side-button"></div>

    <div class="watch-screen-display">
      
      <div class="watch-center-content">
        <h1 class="time-text">{{ displayTime }}</h1>
        
        <div class="watch-emoji-container">
          <span *ngIf="!isNight" class="emoji-style">☀️</span>
          <span *ngIf="isNight" class="emoji-style">🌙</span>
        </div>
      </div>

    </div>
  </div>
</div>