<div class="clock-stage">
  <!-- Caja exterior de bronce/oro viejo del reloj antiguo -->
  <div class="antique-clock-case">
    <div class="clock-dial">
      
      <!-- CAPA DE ENGRANAJES SUBTERRÁNEA (Sutiles y transparentes en CSS) -->
      <div class="gears-bg-layer">
        <div class="gear large-gear"></div>
        <div class="gear medium-gear"></div>
        <div class="gear small-gear"></div>
      </div>

      <!-- MARCAS HORARIAS: Números Romanos distribuidos radialmente -->
      <div class="roman-number num-12">XII</div>
      <div class="roman-number num-1">I</div>
      <div class="roman-number num-2">II</div>
      <div class="roman-number num-3">III</div>
      <div class="roman-number num-4">IV</div>
      <div class="roman-number num-5">V</div>
      <div class="roman-number num-6">VI</div>
      <div class="roman-number num-7">VII</div>
      <div class="roman-number num-8">VIII</div>
      <div class="roman-number num-9">IX</div>
      <div class="roman-number num-10">X</div>
      <div class="roman-number num-11">XI</div>

      <!-- MANECILLAS CLÁSICAS (Giran con las propiedades enlazadas de Angular) -->
      <div class="hand hour-hand" [style.transform]="hourHandStyle"></div>
      <div class="hand minute-hand" [style.transform]="minuteHandStyle"></div>
      <div class="hand second-hand" [style.transform]="secondHandStyle"></div>

      <!-- Perno/Eje Central Mecánico -->
      <div class="center-pin"></div>
      
    </div>
  </div>
</div>